/* 
contains overarching typography
imports particular div stylings from details.css
*/

@import "details.css";
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Droid+Sans");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Droid Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bungee Inline", serif;
	letter-spacing: 6px;
	text-align: center;
	text-shadow: 0 0 5px darkmagenta;
	color: white
}